.carrier {
    text-align: center;
    margin-top: 50px
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    /* position: absolute; */
    left: 5px;
    top: 5px;
    margin-right: 5px;
}

.box {
    margin: 10px;
}

.option {
    margin-left: 5px;
}

.legend {
    outline-width: 2px;
    outline-color: black;
    margin: 10px;
}