.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  height: 1vw;
  width: 1vw;
  display: inline-block;
}

.slider {
  width: 17vw;
}

.boxed {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  max-width: 100%;
} 

.color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  /* position: absolute; */
  left: 5px;
  top: 5px;
  margin-right: 5px;
}

.dropzone {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  /* margin: auto; */
  /* width: 60%;
  height: 60%; */
}

.tag1 {
  display: none;
}
.triangle1:hover + .tag1 {
  display: absolute;
}

.tag2 {
  display: none;
}
.triangle2:hover + .tag2 {
  display: absolute;
}

.flex-container {
  width: 100%;
  height: 100%;
  /* height: 200px; */
  margin: auto;
  /* padding: 10px; */
}

.flex-child-one {
  width: 50%;
  height: 100%;
  float: left;
  /* padding: 20px; */
}

.flex-child-two {
  height: 100%;
  width: 50%;
  margin-left: 50%;
  margin-bottom: 0%;
}

.flex-child-three {
  height: 100%;
  margin-top: 5%;
}

.normal-curve-text {
  width: 80%;
}

.args-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arg {
  /* align-self: center; */
  padding: 5px;
}

.normalCurve-boxed {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-color: black;
  border: 2px;
}