.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    height: 1vw;
    width: 1vw;
    display: inline-block;
  }
  
  .slider {
    width: 17vw;
  }
  
  .boxed {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    max-width: 100%;
  } 
  
  .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    /* position: absolute; */
    left: 5px;
    top: 5px;
    margin-right: 5px;
  }
  
  .dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    margin: 20px;
  }